/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;
    height: 100vh;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide>div>div {position: relative;}
.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/********************
*
* MODIFICATION PERSO. POUR LE SLIDE
*
********************/

/**********
*
* IMPORTANT !!! => (.your-class) peut être changer en fonction du nom que vous avez donner a votre slider JS
*
**********/
.your-class img {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.box_texte_slide {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0%;
    background-color: rgba(255, 255, 255, 0.7);
}

.texte_slide {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}

/*****
*
* Prendre ses spécificités CSS quand la largeur est au minimum de 1600 px.
*
*****/
@media screen and (min-width: 1600px) {
    .texte_slide {
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 50px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .box_texte_slide {
        position: absolute;
        height: auto;
        bottom: 0%;
        background-color: rgba(255, 255, 255, 0.7);
    }
}

/*****
*
* Prendre ses spécificités CSS quand la largeur est au maximum de 1200 px.
*
*****/
@media screen and (max-width: 1200px) {
    .texte_slide {
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 30px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .box_texte_slide {
        position: absolute;
        height: auto;
        bottom: 5%;
        background-color: rgba(255, 255, 255, 0.7);
    }
}

/*****
*
* Prendre ses spécificités CSS quand la largeur est au maximum de 960 px.
*
*****/
@media screen and (max-width: 960px) {
    .texte_slide {
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 20px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .box_texte_slide {
        position: absolute;
        height: auto;
        bottom: 0%;
        background-color: rgba(255, 255, 255, 0.7);
    }
}

/*****
*
* Prendre ses spécificités CSS quand la largeur est au maximum de 780 px.
*
*****/
@media screen and (max-width : 780px) {
    .texte_slide {
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 15px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .box_texte_slide {
        position: absolute;
        height: auto;
        bottom: 0%;
        background-color: rgba(255, 255, 255, 0.7);
    }
}

.div_img_slide {
    background-size: contain;
    background-position: center center;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
}

body {
    margin : 0px;
}

/**********
*
* Pour l'interface utilisateur
*
**********/
form {
    padding: 5px;
}

.zone_button {
    display: flex; 
    position: absolute; 
    right: 0%; 
    bottom: 0%; 
    padding-top: 20%; 
    padding-left: 20%;
}

#button_interface {
    display: flex; 
    position: absolute; 
    right: 0%; 
    bottom: 0%;
}

.interface {
    display: none;
    position: absolute; 
    top: 0%; 
    left: 20%; 
    background-color: wheat; 
    border: 5px solid red; 
    padding: 5px;
    flex-direction: column;
}

.super_groupe_list {
    display: flex;
    flex-direction: column;
}

.groupe_list {
    display: flex;
    flex-direction: row;
}

.div_img_form {
    overflow: hidden;
    height: 50px;
    width: 50px;
}

.box_date-slide {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 8%;
}

.date_publication {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-right: 5px;        
    margin-block-start: 0;
    margin-block-end: 0;
}

.reloadforce {
    display: inline;
}

.form_texte {
    display: inline;
}