/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;
    height: 100vh;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
	height: 100%;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide>div {height: 100%;}
.slick-slide>div>div {position: relative;height: 100%;}
.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
    overflow: hidden;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/********************
*
* MODIFICATION PERSO. POUR LE SLIDE
*
********************/

/**********
*
* IMPORTANT !!! => (.your-class) peut être changer en fonction du nom que vous avez donner a votre slider JS
*
**********/
* {
  margin: 0;
  padding: 0;
}
html{ height:100%; }
body{ min-height:100%;  font-family: "sans-serif"; }

header{ height: 38px; background: #58b344ff; color:#e6332aff; box-shadow: 1px 1px 5px 3px #666666ff;position: absolute;top:0;z-index: 100;width: 100%; }
header img{ width:300px; height:200px; z-index: 1000; position: absolute; padding : 5px 20px;}

body {
 /* background-image: url(../img/logo-background.png);
  background-repeat: no-repeat;
  background-position: 5% center;
  background-size: 70%;*/
  font-size: 25px;
}

body::after {
  content: '';
  display: block;
  height: 50px;
}

footer {
  	background: #58b344ff; 
	color: #fff;
	box-shadow: 1px 1px 5px 5px #666666ff;
	z-index: 100;
	height: 48px;
	position: absolute;
	width: 100%;
	bottom: 0;
	padding-bottom: 28px;
}

footer img {
    width: 65%;
    position: absolute;
    right: 0;
    z-index: 10;
    bottom: 14px;
}

footer a, footer a:hover{ color:#fff; text-decoration: none; }

footer pied{
	position: absolute; 
	box-sizing: border-box;
	width: 100%;
}

.text, .building{ max-width: 50%; width:50%; box-sizing: border-box; }

.text{
	padding: 14px 0px 0px 5px;
	font-size: 27px;
	text-shadow: 2px 2px 2px #000;
	margin-left: 5%; 
}

.building{
	z-index: 1000; 
	position: absolute;
	margin-left:45%;
	/*width:100%;*/
}
section.your-class {
	height: 100%;
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 10;
}

article{
	height: calc(100% - 80px);
	position: absolute; 
	box-sizing: border-box;
	width: 100%;
	background-color: #fff;
	background: url("img/logo-background_v3.png") no-repeat #fff ;
	background-position: 15% 52%;
	background-size: auto 70%;
}

.container{	
	position: absolute;
	display: flex;
	width: 100%;
	z-index: 0;
	padding-top: 6%;
	height: calc(94% - 124px);
}

.gauche, .droite{ max-width: 50%; width:50%; box-sizing: border-box; }

.gauche{ opacity: 0.8; border-radius: 20px; padding: 90px; text-align: justify; line-height: 36px; }

.droite{
	text-align: center;
	position: relative;
	height: 100%;
}

.droite img{
	position: absolute;
	display: block;
	left: 50%;
	top: 50%;
	max-height: 85%; /*85%*/
	max-width: 85%; /*67%*/
	transform: translate(-50%, -50%);
} 
	
.gauche h1{ color:#e6332a; }
.gauche h2{ padding: 18px; font-size: 30px}

.gauche h3{
	padding-bottom: 14px;
	font-size: 30px;
	font-weight: 400;
}
.date h1{ color:#000000; }
h1{ text-align: center; font-size: 50px; line-height: 70px; font-weight: 400; margin-bottom: 20px; padding-top: 3%;}

/*****
*
* Prendre ses spécificités CSS quand la largeur est au minimum de 1600 px.
*
*****/
@media screen and (min-width: 1600px) {
    .texte_slide {
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 50px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .box_texte_slide {
        position: absolute;
        height: auto;
        bottom: 0%;
        background-color: rgba(255, 255, 255, 0.7);
    }
}

/*****
*
* Prendre ses spécificités CSS quand la largeur est au maximum de 1200 px.
*
*****/
@media screen and (max-width: 1200px) {
    .texte_slide {
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 30px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .box_texte_slide {
        position: absolute;
        height: auto;
        bottom: 5%;
        background-color: rgba(255, 255, 255, 0.7);
    }
}

/*****
*
* Prendre ses spécificités CSS quand la largeur est au maximum de 960 px.
*
*****/
@media screen and (max-width: 960px) {
    .texte_slide {
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 20px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .box_texte_slide {
        position: absolute;
        height: auto;
        bottom: 0%;
        background-color: rgba(255, 255, 255, 0.7);
    }
}

/*****
*
* Prendre ses spécificités CSS quand la largeur est au maximum de 780 px.
*
*****/
@media screen and (max-width : 780px) {
    .texte_slide {
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 15px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .box_texte_slide {
        position: absolute;
        height: auto;
        bottom: 0%;
        background-color: rgba(255, 255, 255, 0.7);
    }
}

.div_img_slide {
    background-size: contain;
    background-position: center center;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
}

body {
    margin : 0px;
}

/**********
*
* Pour l'interface utilisateur
*
**********/
form {
    padding: 5px;
}

.zone_button {
    display: flex; 
    position: absolute; 
    right: 0%; 
    bottom: 0%; 
    padding-top: 20%; 
    padding-left: 20%;
	z-index: 9999;
}

#button_interface {
    display: flex; 
    position: absolute; 
    right: 0%; 
    bottom: 0%;
}

.interface {
    display: none;
    position: absolute; 
    top: 0%; 
    left: 20%; 
    background-color: wheat; 
    border: 5px solid red; 
    padding: 5px;
    flex-direction: column;
	z-index: 10000;
}

.super_groupe_list {
    display: flex;
    flex-direction: column;
}

.groupe_list {
    display: flex;
    flex-direction: row;
}

.div_img_form {
    overflow: hidden;
    height: 50px;
    width: 50px;
}

.box_date-slide {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 9%;
}

.date_publication {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-right: 5px;        
    margin-block-start: 0;
    margin-block-end: 0;
}

.reloadforce {
    display: inline;
}

.form_texte {
    display: inline;
}
